<script id ='MainTemplate' type="text/simple-template">
<div class="panel panel-default ">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle active" data-toggle="dropdown">
                        Filter By Disabled <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Filter by Account Status</a></li>
                        <li><a href="#">Filter by Department</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Reset</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                        Sort By FirstName <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Sort by FirstName</a></li>
                        <li><a href="#">Sort by Email</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Reset</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-left">
                <a href="#add">
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#newPopUp" data-backdrop="static">
                    <span class="glyphicon glyphicon-plus"></span>AddNew
                </button>
                    </a>
                <button class="btn btn-sm btn-danger btn-rows-remove"><span class="glyphicon glyphicon-remove"></span>Delete</button>
            </div>
        </div>
        <!--the end of panel-heading-->


        <table id="List" class="table table-bordered table-hover cc">
            <thead>
            <tr class="">
                <td class="text-center">
                    <input type="checkbox" class ="checked-all-unchecked"/></td>

                <?
                var  columns = [];
                for (var field in data.moduleDefine){
                    var fieldName = data.moduleDefine[field].dName;
                    var keyName = field;

                    columns.push(keyName);
                ?>
                <td><?=fieldName?></td>
               <?}?>

                <td class="col-lg-3">功能操作</td>
            </tr>
            </thead>
            <tbody>
            <%_.each(data,function(v,k){

            %>


            <tr>
                <td class="text-center">
                    <input type="checkbox" name="checkbox" value="<%=v._id%>"/></td>

                <? for (var i=0;i< columns.length;i++){ ?>
                <td><%=v.<?=columns[i]?>%></td>
                <?}?>
                <td>


                    <a  href="#info?_id=<%=v._id%>" class="btn  btn-xs btn-info">
                        <span class="glyphicon glyphicon-list"></span>Info
                    </a>
                    <a  href="#edit?_id=<%=v._id%>" class="btn  btn-xs btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>Edit
                    </a>
                    <a  href="#" class="btn  btn-xs btn-warning btn-row-remove" data-id="<%=v._id%>" >
                        <span class="glyphicon glyphicon-remove"></span>Remove
                    </a>
                    <a  href="#add?_id=<%=v._id%>" class="btn  btn-xs btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>New
                    </a>


                </td>
            </tr>
            <%});%>
            </tbody>
        </table>
    </div>
    <ul class="pager">

        <li><a href="#">上一页</a></li>
        <li><a href="#">下一页</a></li>

    </ul>

</div>

<div class="modal small hide fade" id="remvoePopUp" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the data?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>
    </script>

