<script id='MainTemplate' type="text/simple-template">
        <div class="panel panel-header">
           <h3 class="box-title">设备类型</h3> 
                
        </div>
        <div class="panel panel-default">
            <!-- form start -->
            <div role="form">
                <div class="box-body">

                    
                     <div class="form-group">
                        <label for="exampleInputEmail1">编号</label>
                        <input type="hidden" value ="<%=data.id%>" class="form-control" id="save-id" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">设备型号</label>
                        <input type="text" value ="<%=data.model%>" class="form-control" id="add-model" placeholder="Enter MOdel">
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleInputEmail1">设备名称</label>
                        <input type="text" value ="<%=data.name%>" class="form-control" id="add-name" placeholder="Enter Name">
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <input type="text" value ="<%=data.des%>" class="form-control" id="add-desc" placeholder="Enter Description">
                    </div>
                    



                    <div class="form-group">
						 <label for="exampleInputEmail1">设备图片</label>
	                     <img  name="pic" id="pic" alt="No Image!" src="<%=data.pic%>" />
                    </div>
                    <div class="form-group">
                      	 <input type="hidden" value ="-1" class="form-control" id="add-pic-id" placeholder="Enter Image" />
                    </div>
         <!-- /file upload begin -->        

 
       
         <!-- /file upload end -->

                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button class="btn btn-primary btn-back2main">返回</button>
                </div>
            </div>
        </div><!-- /.box -->


</script>
