<script id='MainTemplate' type="text/simple-template">
        <div class="panel panel-header">
           <h3 class="box-title">设备类型</h3> 
                
        </div>
        <div class="panel panel-default">
            <!-- form start -->
            <div role="form">
                <div class="box-body">

                    
                     <div class="form-group">
                        <label for="exampleInputEmail1">编号</label>
                        <input type="hidden" value ="<%=data.id%>" class="form-control" id="save-id" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">设备型号</label>
                        <input type="text" value ="<%=data.model%>" class="form-control" id="add-model" placeholder="Enter MOdel">
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleInputEmail1">设备名称</label>
                        <input type="text" value ="<%=data.name%>" class="form-control" id="add-name" placeholder="Enter Name">
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleInputEmail1">描述</label>
                        <input type="text" value ="<%=data.des%>" class="form-control" id="add-desc" placeholder="Enter Description">
                    </div>
                    



                    <div class="form-group">
						 <label for="exampleInputEmail1">设备图片</label>
                      	 <input type="text" value ="<%=data.pic%>" class="form-control" id="add-pic" placeholder="Enter Image" />
	                     <img style='display:none' name="pic" id="pic" alt="No Image!" src="" />
                    </div>
                    <div class="form-group">
                      	 <input type="hidden" value ="-1" class="form-control" id="add-pic-id" placeholder="Enter Image" />
                    </div>
         <!-- /file upload begin -->        

		<form method="POST" enctype="multipart/form-data" action="/files/upload" target="hidden_frame">

			<input id="file" type="file" name="file" onchange="changePicUrl()" />
    	    <input type="submit" value="上传" />
		
		</form>
 
         <iframe name='hidden_frame' id="hidden_frame" style='display:none'></iframe>
         <!-- /file upload end -->

                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button class="btn btn-primary btn-saveUpdate">保存修改</button>
                </div>
            </div>
        </div><!-- /.box -->



<script type="text/javascript">
  	function changePicUrl(){
		var dFile = document.getElementById('file');
	}
  	function uploadSucced(msg,id,path){

        document.getElementById('pic').src=path;
        $("#pic").show();
        document.getElementById("add-pic").value = path;
        document.getElementById("add-pic-id").value = id;
        alert("Successful to upload file:" + path);

	}
	//表单提交修改失败后，传回提示信息
	function uploadFailed(msg){
		alert("Failed to upload file INFO:" + msg);
	}
  </script>

</script>
