<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script id ='MainTemplate' type="text/simple-template">
<div>
    <div class="container">
      <div>This in main part<%= text%></div>
      <div class="input-group ">
        <span class="input-group-addon ">消息类型:</span>
        <input class="form-control"   type = "text" id="command" value="20001"/>
      </div><br/>




      <button type="button" id="btnSearchDevice" class="btn btn-lg btn-primary btn-block">搜索设备</button>
      <button type="button" id="btnBind" class="btn btn-lg btn-primary btn-block">绑定设备</button>

      <button id="btnSend" type="button"  class="btn btn-lg btn-primary btn-block" >发送消息</button>
    </div>
    <div class="container">
    <hr color="blue"/>
        <div class="label label-info label-lg">应答消息</div>
    <textarea id="responseText" style="width: 100%;height: 300px;"></textarea>
    </div>
    <div id="testContainer">hi</div>
</div>
</script>
<script id ='TestTemplate' type="text/simple-template">
<h1>This in test part <%= text%></h1>
<div id="jumpBack" class="btn btn-primary">back</div>
<div id="jumpToList" class="btn btn-primary">jumpToList</div>
</script>