
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout-ch">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
  <div id="controller"></div>
  <script id="entryport-js" src="/resources/framework/js/3rd/require.js" data-main="/resources/framework/js/simple/main.js" data-res-path="/resources/pc/" async="true" ></script>
</body>
</html>